https://github.com/cloudify-cosmo/cloudify-rest-client/archive/CFY-3691-Make-all-internal-REST-calls-secure.zip
git+https://github.com/cloudify-cosmo/cloudify-dsl-parser@master#egg=cloudify-dsl-parser==3.3rc1
https://github.com/cloudify-cosmo/cloudify-plugins-common/archive/CFY-3691-Make-all-internal-REST-calls-secure.zip
https://github.com/cloudify-cosmo/cloudify-script-plugin/archive/CFY-3691-Make-all-internal-REST-calls-secure.zip

mock
# adding this requirement for readthedocs until we perhaps
# decide on a better way of doing this
sphinx-argparse
