git+https://github.com/cloudify-cosmo/cloudify-rest-client@4.3.dev1-build#egg=cloudify-rest-client==4.3.dev1-build
git+https://github.com/cloudify-cosmo/cloudify-dsl-parser@4.3.dev1-build#egg=cloudify-dsl-parser==4.3.dev1-build
git+https://github.com/cloudify-cosmo/cloudify-plugins-common@4.3.dev1-build#egg=cloudify-plugins-common==4.3.dev1-build
git+https://github.com/cloudify-cosmo/cloudify-script-plugin@1.4#egg=cloudify-script-plugin==1.4

nose
mock
nose-cov
testtools
testfixtures
