[Unit]
Description=RabbitMQ Service
Wants=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=on-failure
EnvironmentFile=-/etc/sysconfig/cloudify-rabbitmq
ExecStart=/usr/sbin/rabbitmq-server
ExecStop=/usr/local/bin/kill-rabbit
LimitNOFILE={{ node.properties.rabbitmq_fd_limit }}

[Install]
WantedBy=multi-user.target
